body {
  height: 100%;
  min-height: 1500px;
}


body {
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
-webkit-font-smoothing:antialiased;

  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
padding: 0px;
margin: 0px;  
width: 100%;
min-width: 1320px;
}

.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 50px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -50px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(2, 23, 37, 0.96);
  }
}



.cd-secondary-nav {
  position: absolute;
  top: 20%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2em;
  /* hidden on small devices */
  display: none;
}
.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
   font-family: 'Quicksand';
}
.cd-secondary-nav li a {
  display: inline-block;
  color: white;

  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
  }
}





a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  }

  a:hover {

  text-shadow: none;
  color: #0085a1;
}

a:visited {
    color: inherit;
    margin: 0px;
  }

#first {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../media/blog-media/post-template.jpg");
  width: 100%;
  margin-top: 0px;
  height:590px;
  margin-left: 0px;
  } 

#title-container {
  text-align: left;
  height: 450px;
  width: 700px;
  margin-left: 150px;
}

#name1 {
  font-size: 60px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0px;
  margin-left: 20px;
  margin-top: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
  
  color: white;
  opacity: 1; 
  font-weight: 700;

  }


  #cv {
  font-size: 30px;
  font-family: 'Ubuntu';
  letter-spacing: 0px;
  margin-left: 20px;
  padding-top: 0px;

  color: white;
  font-weight: 300;
  margin-top: 0px;
  opacity: 1;
  margin-bottom: 0;
  
  }
#post-meta {
 font-size: 20px;
  font-family: 'Quicksand';
  letter-spacing: 0px;
  margin-left: 20px;
  padding-top: 0px;
  font-style: italic;
  color: white;
  font-weight: 300;
  margin-top: 0px;
  opacity: 1;
}

#second {
  height: 10350px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

}

#second-wrapper {
  margin-left: 16%;
  width:66.7%;
  float: left;
  position: relative;
  height: 100%;
  
}

p {
  line-height: 1.5;
  margin: 30px 0;
  display: block;
  font-size: 20px;
  font-family: 'Quicksand';
}

.section-heading {
    font-size: 36px;
  margin-top: 40px;
  font-weight: 700;
   font-family: 'Quicksand';
   margin-bottom: 10px;
}

blockquote {
  color: gray;
  font-style: italic;
    padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  font-family: 'Quicksand';
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
   font-family: 'Quicksand';
  }

  .text-muted {
  color: #777;
}

hr {
  display: block;
    margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

#footer {
  height: 220px;
  width: 100%;
  padding: 50px 0 65px;
  display: block;
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #404040;
  text-align: center;

}

#soc-icons {
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#facebook {
  float: left;
  margin: 10px;
  height: 48px;
  width: 48px;
  background-size: 100%;
  background-image: url('../media/blog-media/fb-icon.png');
}

#twitter {
  float: left;
    margin: 10px;
  height: 48px;
  width: 48px;
  background-size: 100%;
  background-image: url('../media/blog-media/tw-icon.png');
}

#google {
  float: left;
    margin: 10px;
  height: 48px;
  width: 48px;
  background-size: 100%;
  background-image: url('../media/blog-media/go-icon.png');
}
